:root {
    /* Image sizes*/
	--img-size: 2rem;
    
    /* Colors */
    --light-gray: #ECECEC;
    --gray: #96A1AB;
    --dark: #2A2A3A;
    --beige: #DBC7A6;
    --gray-blue: #3D4957;

    /* Indents */
    --base-indent: 1rem;
    --big-indent: 1.5rem;
    --small-indent: 0.5rem;
    --tiny-indent: 0.25rem;

    /* Border Raduises */
    --base-radius: 0.5rem;
    --small-radius: 0.25rem;

    /* Font sizes */
    --base-font-size: 16px;
    --big-font-size: 1.25rem;
    --small-font-size: 0.75rem;

    /* Font names */
    --font-name: "Open Sans", sans-serif;

    /* Additional info */
    --max-size: 1128px;
    --line-spacing: 1.25;
}

*, *::after, *::before {
	box-sizing: border-box;
}

body {
    display: flex;
	flex-direction: column;
    margin: 0;
    font-family: var(--font-name);
    font-size: var(--base-font-size);
    background-color: var(--light-gray);
	line-height: var(--line-spacing);
	max-width: 1280px;
	min-height: 720px;
}

.container {
    max-width: var(--max-size);
    margin: 0 auto;
}

main {
    flex-grow: 1;
}

a:-webkit-any-link {
	color: inherit;
	text-decoration: none;
}

/* Header */
.header {
    background-color: var(--dark);
}

.header__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: var(--base-indent);
    padding-right: var(--base-indent);
    align-items: center;
}

.header__logo {
    font-size: var(--base-font-size);
    font-weight: normal;
    color: var(--light-gray);
}

.logo {
    font-size: var(--base-font-size);
    color: var(--light-gray);
}

.item {
    width: calc(1/6 * 100%);
}

.header__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--gray);
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    padding: var(--base-indent);
    color: var(--gray);
}

.nav__link:last-child {
    padding-right: 0;
}

.light_gray_back {
    background-color: var(--light-gray);
}

/* Menu */
.header__menu {
    display: flex;
    color: var(--gray);
    font-size: var(--big-font-size);
    padding: var(--base-indent);
}

.mail {
    margin-right: -1.5rem;
    font-size: var(--big-font-size);
}

.incoming-mail {
    font-size: var(--big-font-size);
}

.mail_menu__list {
    padding-left: var(--base-indent);
}

.mail_menu__item {
    list-style-type: none;
    color: var(--gray);
    font-size: var(--base-font-size);
    padding-left: var(--base-indent);
    padding-right: var(--base-indent);
    padding-top: var(--small-indent);
    padding-bottom: var(--small-indent);
}

.active {
    background-color: var(--dark);
    border-radius: var(--small-radius);
}

.menu {
    display: flex;
    flex-direction: row;
}

/* Main */
section {
    display: flex;
    flex-direction: column;
    padding-left: var(--small-indent);
    padding-right: var(--base-indent);
}

article {
    background-color: var(--gray-blue);
    border-radius: var(--base-radius);
    margin-bottom: var(--base-indent);
}

.message_info {
    display: flex;
	flex-direction: row;
	align-items: center;
}

.message {
    padding: var(--base-indent);
}

h1, h2, p {
	margin-top: var(--tiny-indent);
	margin-bottom: var(--tiny-indent);
}

h1 {
    color: var(--beige);
    font-size: var(--big-font-size);
}

h2 {
    color: var(--gray);
    font-size: var(--big-font-size);
}

p {
    color: var(--gray);
    font-size: var(--base-font-size);
}

img {
    border-radius: 50%;
	margin-right: var(--small-indent);
	background-size:100% 100%;
	width: var(--img-size);
	height: var(--img-size);
}

time {
    margin-left: auto;
	align-self: flex-start;
    color: var(--gray);
    font-size: var(--small-font-size);
}

/* Footer */
footer {
	text-align: center;
    background-color: var(--dark);
}

footer > p {
	margin: 0;
	margin-bottom: auto;
	padding-top: var(--big-indent);
	padding-bottom: var(--big-indent);
}